/*Common styles*/

/* Raleway bold 700
   Roboto Regular 400
   Roboto Medium 500
   Roboto Bold 700
   Roboto Black 900*/

html {
    box-sizing: border-box;
}


*,
*::before,
*::after {
    box-sizing: inherit;
}


   :root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --dark-grey-text-color: #212121;
    --light-grey-text-color:#757575;
    --accent-blue-color:#2196F3;
    --dark-theme-text-color: #FFFFFF;
    --logo-black-color:#000000;
    --main-background-color:#E5E5E5;
    --lightest-background-color: #FFFFFF;
    --darker-background-color: #F5F4FA;
    --background-footer-color: #2F303A;

}

body {
    width: 1600px;
    height: 2924px;
    background-color: var(--main-background-color) /*#E5E5E5*/;
    font-family: var(--main-font) /*'Roboto', Sans-serif*/;
    color: var(--dark-grey-text-color) /*#212121*/;
    font-size: 14px;
    border: 1px solid red;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

/*Header css*/

.header-box {
    height: 80px;
    background-color: var(--lightest-background-color);
    padding-top: 24px; 
    padding-bottom: 25px;
}

.header-box,
.web-studio-menu,
.contacts-menu {
    display: flex; 
    justify-content: center;
}

.web-studio-logo {
    font-family: var(--secondary-font) /*"Raleway", sans-serif*/;
    font-weight: 700; /*bold*/
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0,03em;
}

.web-studio-logo-main {
    margin-right: 85px; 
}

.web-studio-item /*not last child*/ {
    margin-right: 50px;
}

.web-studio-menu-box {
    margin-right: 331px;
}

.contacts-menu-item /*not last child*/ {
    margin-right: 50px;
}

.web-logo-part {
    color: var(--accent-blue-color) /*#2196F3*/;
}

.studio-logo-part {
    color: var(--logo-black-color) /*#000000*/;
}

.web-studio-item-link {
    color: var(--dark-grey-text-color) /*#212121*/;
}

.web-studio-item-link,
.contacts-menu-item-link {
    font-weight: 500;
    font-style: normal;/*deletes automatic italic of link*/
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0,02em;
}

.contacts-menu-item-link {
    color: var(--light-grey-text-color) /*#757575*/;
}

.web-studio-item-link:hover,
.web-studio-item-link:focus,
.contacts-menu-item-link:hover,
.contacts-menu-item-link:focus {
    color: var(--accent-blue-color); /*#2196F3*/
}

.web-studio-item-link-active {
    color: var(--accent-blue-color); /*#2196F3*/
}


/*Index.html Studio css*/

/*Hero section*/

.hero-section {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--darker-background-color);
}

.hero-section-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--dark-theme-text-color) /*#FFFFFF*/;
}

.hero-section-title {
    margin-bottom: 30px;
}

.hero-section-button-wrapper {
    display: flex;
    justify-content: center;
}


.hero-section-button {
   font-weight: 700;/*bold*/
   font-size: 16px;
   line-height: 1.88;
   align-items: center;
   text-align: center;
   letter-spacing: 0.06em;
}

.hero-section-button:hover,
.hero-section-button:focus {
    background-color: var(--accent-blue-color) /*#2196F3*/;
    color: var(--dark-theme-text-color) /*#FFFFFF*/;
}

/*Our strengths section*/

.our-strengths-section {
    height: 270px;
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--lightest-background-color);
}

.our-strengths-list {
    display: flex; 
    justify-content: center; 
}

.our-strengths-section-pics {
    text-align: center;
    margin-bottom: 30px;
    background-color: var(--darker-background-color);
}

.our-strengths-item {
    width: 270px;
    height: 120px;
    margin-right: 30px;
}

.our-strengths-item-title {
   font-weight: 700;/*bold*/
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0,03em;
   text-transform: uppercase;
   /*color: var(--dark-grey-text-color) #212121*/
}

.our-strengths-item-info {
   font-weight: 400;/*normal*/
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0,03em;
   color: var(--light-grey-text-color) /*#757575*/;
}


/*What we do section*/


.title 
/*.what-we-do-section-title, 
.our-team-section-title,
.constant-clients-section-title*/ {
   font-weight: 700;/*bold*/
   font-size: 36px;
   line-height: 1.17;
   text-align: center;
   letter-spacing: 0.03em;
   /*color: var(--dark-grey-text-color) #212121*/
}

.what-we-do-section {
    height: 574px;
    background-color: var(--lightest-background-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.what-we-do-list {
    display: flex; 
    justify-content: center;  
}

.what-we-do-section-title {
    margin-bottom: 27px;
}

.what-we-do-photo {
    margin-right: 30px;
    margin-bottom: 27px;
    
}

.what-we-do-item-title {
    width: 370px;
    height: 70px;
    background-color: var(--darker-background-color);
}

.what-we-do-item-title {
    font-weight: 700;/*bold*/
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0,03em;
    text-transform: uppercase;
    color: var(--dark-theme-text-color) /*#FFFFFF*/;
}

.social-network-links-list {
    display: flex; 
    justify-content: center; 
}

.social-network-link {
    width: 44px;
    height: 44px;
}

/*Our team section*/


.our-team-section {
    height: 702px;
    background-color: var(--darker-background-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.our-team-section-title {
    margin-bottom: 50px;
}

.our-team-member {
    margin-right: 30px;
}

.our-team-member-photo {
    margin-bottom: 30px;
}

.our-team-member-name {
    margin-bottom: 10px;
}

.our-team-member-name,
.our-team-member-profession {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.our-team-member-name {
    font-weight: 500;
     /*color: var(--dark-grey-text-color) #212121*/
}

.our-team-member-profession {
    font-weight: 400; /*normal*/
    color: var(--light-grey-text-color) /*#757575*/;
}

.our-team-list {
    display: flex; 
    justify-content: center;
}

.our-team-member {
    background:  var(--lightest-background-color);
}

.social-network-link {
    margin-right: 10px;
    margin-bottom: 24px;
}


/*Constant clients section*/

.constant-clients-section {
    height: 370px;
    background-color: var(--lightest-background-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.constant-clients-section-list {
    display: flex; 
    justify-content: center;  
}


.oconstant-clients-logos {
    text-align: center;
}

.constant-clients-section-item  {
    width: 170px;
    height: 90px;
    text-align: center;
    margin-top: 50px;
    margin-right: 30px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

/*Portfolio css*/


.web-studio-item-link-active {
    color: var(--accent-blue-color); /*#2196F3*/
}

/*.our-projects-item-link:hover {
    background-color: var(--accent-blue-color);
}*/

.project-types-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
     /*color: var(--dark-grey-text-color) #212121*/
}

.project-types-button:hover,
.project-types-button:focus {
    background-color: var(--accent-blue-color) /*#2196F3*/;
    color: var(--dark-theme-text-color) /*#FFFFFF*/;
}

.project-types-list {
    display: flex; 
    justify-content: center; 
}

.our-projects-item-title {
    font-weight: 700;/*bold*/
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--dark-grey-text-color) /*#212121*/;
}

.our-projects-item-type {
    font-weight: 400; /*normal*/
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--light-grey-text-color) /*#757575*/;
}

/*Footer css*/

.footer-box {
    padding-bottom: 60px;
    background-color: var(--background-footer-color);
}

.footer-box {
    display: flex; 
    justify-content: center;
}

.footer-box-contacts {
    width: 231px;
    height: 81px;
    text-align: center;
    margin-right: 69px;
}

.join-us-box {
    width: 206px;
    height: 80px;
    text-align: center;
    margin-right: 880px;
}

.footer-contacts-item-link {
    font-weight: 400; /*normal*/
    font-style: normal;/*deletes automatic italic of link*/
    font-size: 14px;
    line-height: 1,71 px;
    letter-spacing: 0.03em;
}

.footer-contacts-item-address {
    color: var(--dark-theme-text-color) /*#FFFFFF*/;
}

.footer-contacts-item-requisites {
    color: rgba(255, 255, 255, 0.6);
}

.join-us-text {
    font-weight: 700; /*bold*/
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark-theme-text-color) /*#FFFFFF*/;
}
